.clock-container {
  width: 125px;
  height: 125px;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  border: 3px solid #0d5d56;
  border-radius: 50%;

  background-color: #a7e8bd;

  color: #000;
  .time {
    font-size: 20px;
    font-weight: 600;
  }

  .title {
    font-size: 18px;
  }
}
